.indi-article-container {
  max-height: 1320px;
  font-family: '맑은 고딕', serif;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto; 
  background-color: rgba(255, 255, 255, 0.715);
  margin: 0 auto;
  margin-top: 500px; 
  margin-bottom: 50px;
  width: 60%; 
  position: relative;
  padding: 60px; 
  box-shadow: 8px 8px 8px 16px rgba(0, 0, 0, 0.1);
}

.indi-article-header {
  margin-top: 30px;
}

.indi-article-title {
  font-size: 36px; 
  font-weight: 900;
  color: black;
  width: 100%; 
  text-align: center;
  line-height: 1.2;
  border-bottom: 2px solid black;
  padding-bottom: 15px; 
  margin-bottom: 40px;
}

.indi-article-content {
  font-size: 16px;
  margin-top: 20px;
  overflow-y: auto;
  font-weight: lighter;
  max-height: 50vh; 
  line-height: 2;
  width: 97%; 
  max-width: 900px; 
  color: black;
  padding: 10px; 
}

.back {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  color: black;
  text-decoration: underline;
}

.indi-article-image {
  height: 350px;
  width: 100%; 
  max-width: 900px; 
  margin-top: 20px; 
}

.scrap-button {
  margin-top: -5px; 
  margin-bottom:10px;
  align-self: flex-end; 
  padding: 5px 10px; 
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: #161b1c;
  color: white;
  border-radius: 3px; 
}

.scrap-button:hover {
  background-color: #0056b3;
}

.articlefooter {
  width: 94%;
  margin-top: 110px; 
  border-top: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr; 
  align-items: center;
  padding: 20px; 
  gap: 30px; 
}

.articlefooter p {
  color: rgb(142, 138, 138);
  line-height: 1.7;
  font-size: 13px;
  margin-top: 0; 
  margin-left: 50px;
}

.articlefooterimage {
  width: 250px; 
  height: auto; 
  object-fit: contain;
  margin-left: 0;
  margin-right: 40px;
  margin-top: -30px;
}

.indi-article-content::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

.indi-article-content::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 15px; 
}

.indi-article-content::-webkit-scrollbar-thumb {
  background: #202020; 
  border-radius: 15px; 
}

.indi-article-content::-webkit-scrollbar-thumb:hover {
  background: #202020; 
}

.indi-article-content {
  scrollbar-width: thin; 
  scrollbar-color: #262525 #f1f1f1; 
}