body {
  overflow-x: hidden;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -650px; 
  margin-left: 65px; 
  position: sticky; 
  top: -150px; 
  z-index: 10;
}

.header1 {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 152px; 
  position: relative; 
  z-index: 2; 
}

.leftSide {
  display: flex;
  align-items: center; 
  margin-bottom: 59px;
  margin-right: -450px;
}

.logo2 {
  width: 220px; 
  height: auto; 
  margin-top: -1px;
  position: relative; 
  z-index: 3;
  margin-right: 460px; 
}

.blackScreen {
  background-color: rgb(0, 0, 0);
  height: 133px; 
  width: 240%; 
  position: absolute; 
  z-index: 1; 
}

.leftBlackScreen {
  left: 0; 
}

.rightBlackScreen {
  right: 0; 
}

.authLink1 {
  margin-right:-35px;
  margin-left: 53px;
  margin-top:-5px;
  font-size: 14px;
  color: #fff;  
  text-decoration: none;  
}

.authLink1:hover {
  text-decoration: underline;  
  color: #fff; 
}

.authLink2 {
  margin-right:-35px;
  margin-left: 53px;
  margin-top:-5px;
  font-size: 14px;
  color: #fff; 
  text-decoration: none;  
}

.authLink2:hover {
  text-decoration: underline;  
  color: #fff; 
}


.namelink {
  margin-right:50px;
  margin-left: -13px;
  font-size: 14px;
  color: #fff;  
  text-decoration: none;  
}

.logoutlink {
  margin-top:-1px;
  margin-right:-50px;
  margin-left: -35px;
  font-size: 14px;
  color: #fff;  
  text-decoration: none;  
}

.logoutlink:hover {
  text-decoration: underline;  
  color: #fff; 
}