body {
  overflow-x: hidden;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -650px; /* 기존 margin 값 유지 */
  margin-left: 65px; /* 기존 margin 값 유지 */
  position: sticky; /* sticky로 변경 */
  top: -150px; /* 스크롤 시 고정될 위치 설정 (margin-top과 일치) */
  z-index: 10; /* 다른 요소들 위에 표시되도록 z-index 설정 */
}

.header1 {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 152px; 
  position: relative; 
  z-index: 2; 
}

.leftSide {
  display: flex;
  align-items: center; 
  margin-bottom: 59px;
  margin-right: -450px;
}

.logo2 {
  height: 50px;
  margin-top: -17px;
  position: relative; 
  z-index: 3;
  margin-right: 460px; 
}

.blackScreen {
  background-color: rgb(0, 0, 0);
  height: 140px; 
  width: 240%; 
  position: absolute; 
  z-index: 1; 
}

.leftBlackScreen {
  left: 0; 
}

.rightBlackScreen {
  right: 0; 
}

.authLink {
  margin-right:5px;
  margin-left: 13px;
  font-size: 14px;
  color: #fff;  /* 글자 색상을 흰색으로 */
  text-decoration: none;  /* 밑줄 없애기 */
}

.authLink:hover {
  text-decoration: underline;  /* 마우스 오버 시 밑줄 추가 (원하는 경우) */
  color: #fff; /* 마우스 오버 시 약간 밝은 색상으로 변경 (선택사항) */
}

.namelink {
  margin-right:5px;
  margin-left: 13px;
  font-size: 14px;
  color: #fff;  /* 글자 색상을 흰색으로 */
  text-decoration: none;  /* 밑줄 없애기 */
}

.logoutlink {
  margin-right:5px;
  margin-left: 13px;
  font-size: 14px;
  color: #fff;  /* 글자 색상을 흰색으로 */
  text-decoration: none;  /* 밑줄 없애기 */
}

.logoutlink:hover {
  text-decoration: underline;  /* 마우스 오버 시 밑줄 추가 (원하는 경우) */
  color: #fff; /* 마우스 오버 시 약간 밝은 색상으로 변경 (선택사항) */
}
