.search-results-page {
    min-height: 480px;
    font-family: '맑은 고딕', serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 1000px;
    background-color: white;
    margin: 0 auto;
    margin-top: 550px;
    width: 110%;
    position: relative;
    padding-bottom:450px;
}

.search-results-title {
    position: absolute;
    top: 340px;
    left: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-title {
    color:black;
    font-size:33px;
    font-weight:1200;
    margin-left:365px;
    margin-top:-630px;
}

.search-results-container {
    display: flex;
    margin-left: 365px;
    margin-top:-350px;
}

.search-results-container p {
    margin-right:480px;
    margin-top:-130px;
    font-size:20px;
    font-weight:500px;
}

.search-articles {
    display: column;
    margin-top: 750px;
    flex: 1;
    margin-right: 158px;
    font-size:17px;
}

.search-article {
    display: flex; 
    align-items: flex-start; 
    margin-bottom: 40px; 
    margin-left: -350px;
    position: relative; 
    justify-content: space-between;
    }
    
    .search-article-content {
    display: flex;
    flex-direction: column;
    margin-left:40px;
    }

    .search-article-content a {
        text-decoration: none;
        color: inherit;
        }
    
    .search-article-image {
    width: 270px;
    height:170px;
    margin-right: -56px;
    margin-left: 70px;
    }
    
    .search-article h3, .search-article p {
    margin: 10px;
    color: black;
    margin-left: -55px;
    }
    
    .search-article h3 {
    font-weight: 500;
    font-size:20px;
    }
    
    .search-article p {
    font-weight: 300;
    font-size:15px;
    }
    
    .search-article::after {
    content: '';
    position: absolute;
    left: -15px;
    bottom: -17px;
    height: 0.5px;
    width: calc(120% - 142px);
    background-color: lightgray;
    }
    
    .search-article:nth-child(5)::after {
    content: none;
    }
    